<!DOCTYPE html>
<html lang="en">

<head th:fragment="html_head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <div th:fragment="menu">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/}">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/}">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/products}">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cart}">Sepetim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/order}">Siparişlerim</a>
                        </li>
                        <!--  
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                    
                    <div class="d-flez me-1" th:if="${session.id == null}">
                    	<a class="btn btn-outline-dark" th:href="@{/customer/add}">
                            <i class="fa-solid fa-user-plus"></i>
                            Kayıt Ol
                        </a>
                    </div>
                    
                    <div class="d-flez me-1" th:if="${session.id == null}">
                    	<a class="btn btn-outline-dark" th:href="@{/customer/login}">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Giriş Yap
                        </a>
                    </div>
                    
                    <div class="d-flez me-1" th:if="${session.id != null}">
                    	<a class="btn btn-outline-dark" th:href="@{/customer/logout}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Çıkış Yap
                        </a>
                    </div>
                    
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p>
            </div>
        </footer>
    </div>
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>